body {
    background-color: #011522;
}

.card {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.card__content {
    color: white;
    text-align: center;
    font: normal 20pt Arial;
}

div#res {
    margin-top: 20px;
}

div#button {
    margin-top: 20px;
}

div#button {
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid #ff0;
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
}

div#button::before {
    content: "Verificar";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

div#button:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

div#button::after {
    content: "Verificar";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

div#button:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}